<a href={% url 'bar:main_menu' %}>menu</a>

<p>
	simple product import
	<form action={% url 'bar:simple_product_import' %} method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="text" name="prefix" value="порция" />
		<input type="file" name="import" />
		<input type="submit" />
	</form>
</p>

<p>
	complex product import
	<form action={% url 'bar:complex_product_import' %} method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="text" name="prefix" value="коктейль" />
		<input type="file" name="import" />
		<input type="submit" />
	</form>
</p>

{% if products %}
	<ul>
		{% for product in products %}
			<li>{{ product }}</li>
		{% endfor %}
	</ul>
{% else %}
	no records
{% endif %}
