<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	{% load staticfiles %}
	<link href={% static "favicon.ico" %} rel="shortcut icon">
	<link rel="stylesheet" href={% static "css/style.css" %}>
	<title></title>  
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
	<div class="container">

		<header class="header clearfix">
			<div class="logo">
				tango3.bar<br/>
				{{ user }}
			</div>
			
			<nav class="menu_main">
				<ul>
					<li><a href={% url 'bar:food_material_list' %}>food materials</a></li>
					<li><a href={% url 'bar:product_list' %}>products</a></li>
					<li class="active"><a href={% url 'bar:sale_offer_list' %}>sale offers</a></li>
					<li><a href={% url 'bar:transaction_list' %}>transactions</a></li>
				</ul>
			</nav>
		</header>
		
		<div class="info">
			<article class="article clearfix">
				
				<div class="col_33">
					{% if user.is_authenticated %}
						<!-- TODO: it must be chenged into POST form -->
						<a href={% url 'bar:sale_offer_generator' %}>generating</a>
					{% else %}
						&nbsp;
					{% endif %}
				</div>
				
				<div class="col_66">
					{% if sale_offers %}
						<h2>sale offers today ({{ today.date }})</h2>
						<table class='table'>
							<tr>
								<th>product name</th>
								<th>price</th>
								{% if user.is_authenticated %}
									<th>feasible</th>
								{% endif %}
							</tr>
							{% for sale_offer in sale_offers %}
								<tr>
									<td>{{ sale_offer.product.name }}</td>
									<td align='right'>{{ sale_offer.price }}</td>
									{% if user.is_authenticated %}
										<td>{% if sale_offer.feasible %}V{% endif %}</td>
									{% endif %}
								<tr>
							{% endfor %}
						</table>
					{% else %}
						no records
					{% endif %}
				</div>
			</article>
		</div>
	</div>
</body>
