<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	{% load staticfiles %}
	<link href={% static "favicon.ico" %} rel="shortcut icon">
	<link rel="stylesheet" href={% static "css/style.css" %}>
	<title></title>  
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
	<div class="container">

		<header class="header clearfix">
			<div class="logo">
				tango3.bar<br/>
				{{ user }}
			</div>
			
			<nav class="menu_main">
				<ul>
					<li><a href={% url 'bar:food_material_list' %}>food materials</a></li>
					<li><a href={% url 'bar:product_list' %}>products</a></li>
					<li><a href={% url 'bar:sale_offer_list' %}>sale offers</a></li>
					<li class="active"><a href={% url 'bar:transaction_list' %}>transactions</a></li>
				</ul>
			</nav>
		</header>
		
		<div class="info">
			<article class="article clearfix">
				<div class="col_50">
					{% if user.is_authenticated %}
						<form action={% url 'bar:add_transaction' %} method='post'>
							<h2>add transaction</h2>
							{% csrf_token %}
							<input type='submit' class='button' /><br/><br/>
							
							<select name='account'>
								{% for account in accounts %}
									<option value='{{ account.id }}' {% if account.is_default %}selected{% endif %}>{{ account }}</option>
								{% endfor %}
							</select>
							<table class='table'>
								{% for offer in offers %}
									<tr>
										<td><input type="radio" name="sale_offer" id="radio-choice-{{ offer.id }}" tabindex="2" value="{{ offer.id }}" /></td>
										<td><label for="radio-choice-{{ offer.id }}">{{ offer.product.name }}</label></td>
										<td align='right'><label for="radio-choice-{{ offer.id }}"><strong>{{ offer.price }}</strong></label></td>
									</tr>
								{% endfor %}
							</table>
						</form>
						
						<hr/>
						
						<form action={% url 'bar:add_account' %} method='post'>
							<h2>add account</h2>
							{% csrf_token %}
							
							<p class="col_50">
								<label for='name'>name</label><br/>
								<input type='text' name='name' id='name'/>
							</p>
							
							<p class="col_50">
								<label for="is_default"><input type="checkbox" name="is_default" id="is_default" /> is default</label><br/>
								<label for="costed"><input type="checkbox" name="costed" id="costed" /> costed</label>
							</p>
							
							<div class="clearfix"></div><br/>
							
							<p class='col_100'>
								<input type='submit' class='button'/>
							</p>
						</form>
					{% else %}
						&nbsp;
					{% endif %}
				</div>
				
				<div class="col_50">
					<h2>transactions today ({{ today.date }})</h2>
					<table class='table'>
						<tr>
							<th>account</th>
							<th>name</th>
							<th>summ</th>
						</tr>
						{% for transaction in transactions %}
							<tr>
								<td>{{ transaction.account }}</td>
								<td>{{ transaction.sale_offer.product.name }}</td>
								<td align='right'>{{ transaction.summ }}</td>
							</tr>
						{% endfor %}
					</table>
					
					<hr/>
					
					<h2>totals today ({{ today.date }})</h2>
					<table class='table'>
						{% for row in totals %}
							<tr>
								<td>{{ row.account__name }}</td>
								<td align='right'>{{ row.summ }}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</article>
		</div>
	</div>
</body>
